body{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
h1,
h2,
h3,
h4{
    color:red;
}
a{
    color:green;
}
img{
    width: auto;
    height: auto;
}
.middle{
    text-align: center;
}